<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="/static/images/logo.jpg"/>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/auth/login.css') }}">

<body>
    <div class="form-container">
        <h2>Login</h2>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="login-email">Email</label>
                <input type="text" id="login-email" name="email" placeholder="Digite seu email">
                <i class="mdi mdi-account icon"></i>
            </div>
            <div class="form-group">
                <label for="login-password">Senha</label>
                <input type="password" id="login-password" name="password" placeholder="Digite seu senha">
                <i class="mdi mdi-lock icon"></i>
            </div>
            <button type="submit">Login</button>
        </form>
        <div class="form-footer">
            Não tem uma conta? <a href="register">Registro</a>
        </div>
    </div>
</body>
</html>
